<!-- inicio componente Cabecera -->
<header class="cabecera container-fluid">
  <div class="row">
    <app-cabecera-component></app-cabecera-component>
  </div>
</header>
<!-- fin componente Cabecera -->
<main class="container-fluid">
  <section class="widgets row">
    <ul class="widgets-list list-unstyled col">
      <!-- inicio componente WidgetTransferencia -->
      <li class="widget">
        <app-widget-transferencia-component></app-widget-transferencia-component>
      </li>
      <!-- fin componente WidgetTransferencia -->
      <!-- inicio componente WidgetEspacio -->
      <li class="widget">
        <app-widget-espacio-component></app-widget-espacio-component>
      </li>
      <!-- fin componente WidgetEspacio -->
      <!-- inicio componente WidgetBuzones -->
      <li class="widget">
        <app-widget-buzones-component></app-widget-buzones-component>
      </li>
      <!-- fin componente WidgetBuzones -->
      <!-- inicio componente WidgetFTP -->
      <li class="widget">
        <app-widget-ftpcomponent></app-widget-ftpcomponent>
      </li>
      <!-- fin componente WidgetFTP -->
      <!-- inicio componente WidgetBD -->
      <li class="widget">
        <app-widget-bdcomponent></app-widget-bdcomponent>
      </li>
      <!-- fin componente WidgetBD -->
      <li class="widget">
        <app-widget-fire-wall-component></app-widget-fire-wall-component>
      </li>
    </ul>
  </section>
</main>
<footer class="pie container-fluid">
  <div class="row">
    <div class="col">Copyright 2023</div>
  </div>
</footer>